/* Base Styles(Phone): */
* {
	box-sizing: border-box;
	font-family: Helvetica, arial, sans-serif;
	text-align: left;
	word-wrap: break-word;
}

h1 {
	font-size: 175%;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
}

.gridCell {
	padding: 10px;
}

section {
	position: relative;
	background: gray;
	border: 1px solid black;
}

.title {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 150px;
	font-size: 125%;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 10px;
}

.bodyText {
	position: relative;
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

#title1 {
	background: pink;
}

#title2 {
	background: red;
}

#title3 {
	background: yellow;
}

/* Desktop Styles: */
@media (min-width: 992px) {
	.gridCell {
		float: left;
		width: 33.33%
	}
}

/* Tablet Styles: */
@media (min-width: 768px) and (max-width: 991px) {
	.gridCell {
		float: left;
	}
	#gridCell1 {
		width: 50%;
	}
	#gridCell2 {
		width: 50%;
	}
	#gridCell3 {
		width: 100%;
	}
}

